@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdffd9;
}


/* Menu de navigation */
nav h2 {
    margin: 20px;
    margin-right: 50px;
    color: #e5e7eb;
}

.navbar {
    background-color: #122728 !important;
}

.nav-item {
    color: #e5e7eb !important;
}

.active {
    color: #de667b !important;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

