@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fdffd9;
}


/* Menu de navigation */
nav h2 {
    margin: 20px;
    margin-right: 50px;
    color: #e5e7eb;
}

.navbar {
    background-color: #18282f !important;
}

.nav-item {
    color: #e5e7eb !important;
}

.active {
    color: #de667b !important;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}


/* CSS pour le select range de la qualité de compression */
#select-qualite {
    display: flex;
    margin-bottom: 5%;
}

.select-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-align: center;
}

input[type=radio] {
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
}

input[type=radio]:checked {
    border: 6px solid #18282f;
    width: 24px;
    height: 24px;
}

input[type=radio]:checked + label {
    font-weight: bold;
}
